.App {
  text-align: center;
}

.header {
  color: white;
  height: 170px;
  width: 100%;
  background-color: deeppink;
  padding-top: 22px;
}

.language-buttons {
  margin-bottom: 10px;
}

.language-buttons button {
  margin: 0 5px;
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.language-buttons button:hover {
  background-color: #1565c0;
}

@media (max-width: 768px) {
  .card-container {
    height: 600px;
    width: 300px;
    box-shadow: 0px 3px 50px #a5a5a5;
    width: 100%;
  }
}

.card-wrapper {
  width: 270px;
  height: 200px;
  box-shadow: 0px 3px 50px #a5a5a5;
  display: flex;
  flex-direction: column;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container {
  color: white;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #112d49;
  padding: 5% 10%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .task-container {
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
  }
}

.light-mode {
  background-color: #e3e3e3;
  color: rgb(0, 0, 0);
}

.light-mode-header {
  background-color: rgb(255, 212, 235);
  color: rgb(0, 0, 0);
}

.light-mode-button {
  background-color: deeppink;
  border-color: deeppink;
}

.light-mode-container {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* .dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode-header {
  background-color: deeppink;
}

.dark-mode-button {
  background-color: deeppink;
  border-color: deeppink;
}

.dark-mode-container {
  background-color: #112d49;
} */
